/**
 *
 * The styles in this file are based on
 * http://getbootstrap.com/examples/offcanvas/offcanvas.css
 *
 * Boostrap copyright and license
 * Copyright 2013 Twitter, Inc under the Apache 2.0 license.
 *
 * https://github.com/twbs/bootstrap/blob/master/LICENSE
 *
 * Thank you Twitter for your work!
 *
 */

@font-face
{
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('/fonts/PT_Sans-Narrow-Web-Regular.ttf');
}
@font-face
{
  font-family: 'PT Sans Narrow Bold';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow Bold'), local('PTSans-Narrow-Bold'), url('/fonts/PT_Sans-Narrow-Web-Bold.ttf');
}
@font-face
{
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif'), url('/fonts/PT_Serif-Web-Regular.ttf');
}

*
{
  background-repeat: no-repeat;
}
html
{
  overflow-x: hidden;
}
body
{
  color: #222;
  margin: 0px;
  background-color: #ebebeb;
  font-family: 'PT Sans Narrow', sans-serif !important;
}
.loading
{
  bottom: 0px;
  z-index: 2000;
  height: 120px;
  position: fixed;
  background-origin: content-box;
  background-position: center center;
  background-image: url('/images/bigsnake.gif');
}
#maintenance
{
  width: 100%;
  bottom: 0px;
  padding: 5px;
  color: white;
  z-index: 1001;
  position: fixed;
  font-size: 16px;
  text-align: center;
  background-color: red;
}
.hidden
{
  display: none;
}
.container
{
  padding: 0;
  width: 100%;
}
.uppercase
{
  text-transform: uppercase;
}
.capitalize
{
  text-transform: capitalize;
}
.inline
{
  display: inline-block;
}
.sidebar-cbc
{
  padding: 0;
}
.row-cbc
{
  margin: 0;
}
@media screen and (max-width: 767px)
{
  .title .picker,
  .title .small
  {
    display: none;
  }
  #sidebar
  {
    margin: 0;
    float: none;
    width: 100%;
  }
  .header .leftbox.open .menu
  {
    padding-top: 35px;
  }
  .header .centerbox .menu
  {
    margin-top: 5px;
  }
  .redeem .response
  {
    font-size: 22px;
  }
  .col-xs-12.wrapper
  {
    display: block;
  }
  .col-xs-12.wrapper .search
  {
    top: 35px;
    display: block;
    position: relative;
    margin-bottom: 10px;
  }
  .col-sm-10 .search
  {
    display: none;
  }
  .col-xs-6
  {
    margin: 10px 2%;
  }
  .meat
  {
    padding: 0;
    margin: 0 auto;
  }
  .loading
  {
    width: 100%;
  }
  .list-group.categories
  {
    display: none;
  }
}
@media screen and (min-width: 767px)
{
  .col-xs-12.wrapper
  {
    display: none;
  }
  .header .leftbox.open .menu
  {
    padding-top: 50px;
  }
  .header .centerbox .menu
  {
    margin-top: 40px;
  }
  .redeem .response
  {
    font-size: 35px;
  }
  .meat
  {
    top: 40px;
    padding-left: 47px;
  }
  .loading
  {
    right: 0px;
  }
  .list-group.categories
  {
    display: block;
  }
}
.navbar
{
  min-height: 0px;
}
.header
{
  height: 2px;
  border-top: 2px solid #8c00db;
}
.header.open
{
  height: 150px;
}
.header ul
{
  margin: 0;
  padding: 0;
}
.header ul li,
.navbar li
{
  float: left;
  height: 0px;
  list-style: none;
  overflow: hidden;
  position: relative;
}
.header ul li.open
{
  height: 150px;
}
.header .leftbox
{
  cursor: pointer;
}
.header .leftbox.open,
.header .centerbox.open,
.header .rightbox.open
{
  height: 150px;
  color: #ebebeb;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}
.header .leftbox.open,
.header .centerbox.open
{
  background-color: #8c00db;
}
.header .leftbox.open
{
  float: left;
  border-right: 1px dashed #ebebeb;
}
.header .leftbox.open .menu
{
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.header .leftbox .menu,
.header .centerbox .menu
{
  display: none;
}
.header .leftbox.open .menu *
{
  margin: 0 auto;
}
.header .leftbox.open  .menu.visible,
.header .centerbox.open .menu.visible
{
  display: inline-block;
}
.header .rightbox
{
  top: -2px;
  height: 47px;
  cursor: pointer;
  position: relative;
  background-position: right 0px top 0px;
  background-image: url('/images/cbc.png');
}
.header .rightbox.open
{
  height: 152px;
  background-position: right 0px top -47px;
}
.info
{
  width: 80%;
}
.info a
{
  color: #ebebeb;
}
.pairing *
{
  display: inline-block;
  text-transform: uppercase;
}
.pairing .instruction
{
  font-size: 22px;
  margin-right: 10px;
}
.pairing input
{
  border: 0;
  width: 90px;
  height: 45px;
  font-size: 35px;
  text-align: center;
  background-color: #ebebeb;
}
.pairing .reply
{
  display: none;
}
.content.openhdr
{
  top: 130px;
  position: relative;
}
.picker
{
  top: 0px;
  height: 160px;
  position: relative;
}
.picker img
{
  margin: 0 auto;
}
.title
{
  top: 25px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.title .small
{
  color: gray;
  font-size: 22px;
  margin-bottom: 40px;
}
.title .big
{
  color: black;
  width: 300px;
  font-size: 40px;
  line-height: 41px;
  text-align: center;
  display: inline-block;
  font-family: 'PT Serif', serif !important;
}
.main
{
  margin-top: 40px;
}
.main,
.meat
{
  position: relative;
}
#sidebar
{
  margin-top: 20px;
}
.list-group-item.categories .list-group-item-heading
{
  height: 83px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 0;
  padding-top: 35px;
  background-color: white;
  font-family: 'PT Sans Narrow Bold', sans-serif;
}
ul.categories .list-group-item
{
  padding: 0;
  font-size: 15px;
  line-height: 28px;
  margin: 15px 0 0 10%;
}
ul.subcategories
{
  margin-bottom: 0;
}
.list-group-item.categories
{
  border: 0;
  padding: 0;
  font-size: 15px;
  background-color: #c2c2c2;
}
.list-group.categories
{
  margin-bottom: 0;
}
.list-group-item.category
{
  font-size: 15px;
  cursor: pointer;
}
.list-group-item.category,
.list-group-item.category *
{
  border: 0;
  color: white;
  background-color: #c2c2c2;
}
.list-group-item .name
{
  max-width: 88%;
}
.list-group-item.category.active,
.list-group-item.capitalize.active
{
  background-image: url('/images/list-active.png');
  background-position: right 0;
}
.list-group-item.category.active .name,
.list-group-item.capitalize.active .name
{
  color: black;
}
.col-xs-12.wrapper
{
  padding: 0;
}
.search
{
  width: 100%;
  height: 45px;
  text-align: left;
  margin: -20px 0 20px 0;
  background-color: #dedede;
}
.search input
{
  border: 0;
  width: 98%;
  height: 45px;
  font-size: 30px;
  background-color: #dedede;
  padding: 3px 40px 3px 10px;
  background-position: right 6px;
  background-image: url('/images/search.png');
}
.intro
{
  background-size: 40% 100%, 60% 100%;
  background-position: left top, right center;
  background-image: url('/images/cbc-intro-bg.jpg'), url('/images/cbc-front_woman.jpg');
}
.intro li
{
  color: black;
  list-style: none;
  background-size: 66px auto;
  padding: 25px 0 5px 75px;
  background-position: left 30px;
  font-family: 'PT Sans Narrow', sans-serif !important;
}
.intro li.one
{
  background-image: url('/images/cbc-front-numbers1.png');
}
.intro li.two
{
  background-image: url('/images/cbc-front-numbers2.png');
}
.intro li.three
{
  padding-bottom: 60px;
  background-image: url('/images/cbc-front-numbers3.png');
}
.intro li h4
{
  font-size: 25px;
  text-transform: uppercase;
}
.intro li h5
{
  font-size: 16px;
}
.grid .wrapper
{
  margin: 10px 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.grid .wrapper .product
{
  height: 270px;
  padding-top: 5px;
  text-align: center;
  background-color: white;
  border-radius: 6px 6px 6px 6px;
}
.grid .product .info
{
  height: 75%;
  overflow: hidden;
  margin: 0 auto 5px auto;
}
.grid .product .info > a
{
  color: black;
  text-decoration: none;
}
.grid .product .info > a .image
{
  height: 175px;
  overflow: hidden;
}
.grid .product .info > a .image img
{
  margin: 0 auto;
  max-height: 175px;
}
.product .price,
.single .price
{
  color: #ff833f;
  font-weight: bold;
  margin-bottom: 5px;
}
.product .cart a,
.single .cart a
{
  display: block;
  padding-top: 3px;
  text-align: center;
}
.product .cart a:hover,
.single .cart a:hover
{
  text-decoration: none;
}
.product .cart a
{
  margin: 0 auto;
}
.product .cart a,
.single .cart a,
.product .cart input,
.single .cart input
{
  width: 100%;
  height: 27px;
  color: white;
  border: 0 none;
  font-size: 15px;
  max-width: 137px;
  font-weight: bold;
  text-transform: uppercase;
  background-position: left 0px top -732px;
  background-image: url('/images/cbc.png');
}
.single .description
{
  margin-bottom: 20px;
}
.single h3
{
  margin-bottom: 20px;
  text-transform: uppercase;
}
.single div.image
{
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
}
.single div.image img
{
  margin: 0 auto;
}
.redeem .money
{
  font-size: 58px;
}
.redeem .money .symbol
{
  top: -20px;
  font-size: 40px;
  position: relative;
}
.redeem .button
{
  top: -15px;
  left: 30px;
  width: 175px;
  height: 45px;
  cursor: pointer;
  font-size: 20px;
  padding-top: 6px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  background-position: left -325px top -732px;
  background-image: url('/images/cbc.png');
}
.redeem .response
{
  display: none;
  color: #FA8072;
  cursor: pointer;
  margin-top: 20px;
}
