
            <div class="wrap">
                <div class="slider-wrap">
                    <div class="slider flexslider">
                        <ul class="slides">
                            <li>
                                <img src="/assets/img/slide-1.jpg" alt="image description">
                                <div class="slide-text">
                                    Cashback catalog<br />BROWSE, SHOP AND GET PAID
                                </div><!-- .slide-text -->
                            </li>
                            <li>
                                <img src="/assets/img/slide-1.jpg" alt="image description">
                                <div class="slide-text">
                                    Cashback catalog<br />BROWSE, SHOP AND GET PAID
                                </div><!-- .slide-text -->
                            </li>
                            <li>
                                <img src="/assets/img/slide-1.jpg">
                                <div class="slide-text">
                                    Cashback catalog<br />BROWSE, SHOP AND GET PAID
                                </div><!-- .slide-text -->
                            </li>
                        </ul>
                    </div><!-- .slider .flexslider -->
                </div><!-- .slider-wrap -->
            </div><!-- .wrap -->