
            <div class="top-deals">
                <div class="wrap">
                    <span class="title">Top cashback deals</span>
                    <ul class="products" >
                        <li class="product">
                            <a href="" class="add-to-wishlist-btn"></a>
                            <a href="">
                                <div class="labels">
                                    <span class="new-lbl">NEW</span>
                                    <span class="popular-lbl">POPULAR</span>
                                </div>
                                <div class="rating"></div>
                                <div class="img-wrap">
                                    <img src="/assets/img/product-img1.jpg" alt="image description" />
                                </div><!-- .img-wrap -->
                                <div class="product-info">
                                    <span class="title">Title of the product that is long and takes up to 3 rows</span>
                                    <div class="price">
                                        <span>CASHBACK:</span>
                                        <span>25.99 & 28.5%</span>
                                    </div>
                                    <span class="voucher">VOUCHER: -10%</span>
                                </div><!-- .product-info -->
                            </a>
                        </li><!-- .product -->
                        <li class="product">
                            <a href="" class="add-to-wishlist-btn"></a>
                            <a href="">
                                <div class="labels">
                                    <span class="new-lbl">NEW</span>
                                    <span class="popular-lbl">POPULAR</span>
                                </div>
                                <div class="rating"></div>
                                <div class="img-wrap">
                                    <img src="/assets/img/product-image2.jpg" alt="image description" />
                                </div><!-- .img-wrap -->
                                <div class="product-info">
                                    <span class="title">Short Title of the product</span>
                                    <div class="price">
                                        <span>CASHBACK:</span>
                                        <span>25.99 & 28.5%</span>
                                    </div>
                                    <span class="voucher">VOUCHER: -10%</span>
                                </div><!-- .product-info -->
                            </a>
                        </li><!-- .product -->
                        <li class="product">
                            <a href="" class="add-to-wishlist-btn"></a>
                            <a href="">
                                <div class="labels">
                                    <span class="new-lbl">NEW</span>
                                    <span class="popular-lbl">POPULAR</span>
                                </div>
                                <div class="rating"></div>
                                <div class="img-wrap">
                                    <img src="/assets/img/product-img3.jpg" alt="image description" />
                                </div><!-- .img-wrap -->
                                <div class="product-info">
                                    <span class="title">Short Title of the product</span>
                                    <div class="price">
                                        <span>CASHBACK:</span>
                                        <span>25.99 & 28.5%</span>
                                    </div>
                                    <span class="voucher">VOUCHER: -10%</span>
                                </div><!-- .product-info -->
                            </a>
                        </li><!-- .product -->
                        <li class="product">
                            <a href="" class="add-to-wishlist-btn"></a>
                            <a href="">
                                <div class="labels">
                                    <span class="new-lbl">NEW</span>
                                    <span class="popular-lbl">POPULAR</span>
                                </div>
                                <div class="rating"></div>
                                <div class="img-wrap">
                                    <img src="/assets/img/product-img4.jpg" alt="image description" />
                                </div><!-- .img-wrap -->
                                <div class="product-info">
                                    <span class="title">Title of the product that is long and takes up to 3 rows</span>
                                    <div class="price">
                                        <span>CASHBACK:</span>
                                        <span>25.99 & 28.5%</span>
                                    </div>
                                    <span class="voucher">VOUCHER: -10%</span>
                                </div><!-- .product-info -->
                            </a>
                        </li><!-- .product -->

                    </ul><!-- .products -->
                </div><!-- .wrap -->
            </div><!-- .top-deals -->