<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ie7 ie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class='no-js' lang='en'><!--<![endif]-->
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans&subset=latin-ext,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext,cyrillic' rel='stylesheet' type='text/css'>
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
        <script src="/assets/js/libs/modernizr.custom.js"></script>
        <!--[if lt IE 9]>
            <script src="/assets/js/libs/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="download-bar">
            <div class="wrap">
                <div class="center">
                    <div class="center-content">
                        <span>Download <a href="">Glome Wallet</a> to get your cashback</span>
                        <a href="" class="google-play"></a>
                    </div>
                    <a href="" class="close-download-bar"></a>
                </div><!-- .center-->
            </div><!-- .wrap -->
        </div><!-- .dowload-bar-->

        <header class="page_header">
            <div class="wrap">
                <div class="logo-wrap">
                    <a href="" class="logo">
                        <span class="logo-text">Cashback catalog</span>
                        <span class="logo-text">BROWSE, SHOP AND GET PAID</span>
                    </a>
                </div><!-- .logo-wrap-->
                <div class="header-options">
                    <div class="location-filter">
                        <a class="mob-filter-btn"></a>
                        <div class="row">
                            <div class="lbl col-1" id="col-1">Currency</div>
                            <div class="lbl col-2" id="col-2">Language</div>
                            <div class="lbl col-3" id="col-3">Location</div>
                        </div><!-- .row -->
                        <div class="row">
                            <div class="form-item col-1">
                                <div class="select-box">
                                    <span class="selected">DKK</span>
                                    <ul>
                                        <li class="selected">DKK</li>
                                        <li>EUR</li>
                                        <li>SKK</li>
                                        <li>NKK</li>
                                    </ul>
                                </div><!-- .select-box -->
                            </div><!-- .form-item -->
                            <div class="form-item col-2">
                                <div class="select-box">
                                    <span class="selected">Lang</span>
                                    <ul>
                                        <li class="selected">Lit</li>
                                        <li>Eng</li>
                                        <li>Dansk</li>
                                        <li>Lat</li>
                                    </ul>
                                </div><!-- .select-box -->
                            </div><!-- .form-item -->
                            <div class="form-item col-3">
                                <div class="select-checkbox">
                                    <div class="selected-items">
                                        <span class="checkbox-content">Choose location</span>
                                    </div>
                                    <ul>
                                        <li class="selected">Finland</li>
                                        <li>Sweden</li>
                                        <li>Denmark</li>
                                        <li>Norway</li>
                                        <li>Latvia</li>
                                    </ul>
                                </div><!-- .select -->
                            </div><!-- .form-item -->
                        </div><!-- .row -->
                    </div><!-- .location-filter-->
                    <div class="header-profile-wrap">
                        <div class="redeem">
                            <div class="earnings">
                                <span>You have earned</span>
                                <span class="amount">€10.00</span>
                            </div><!-- .earning -->
                            <a href="" class="redeem-btn">REDEEM</a>
                        </div><!-- .redeem -->
                        <div class="header-profile">
                            <span class="amount"></span>
                            <a href="" class="header-profile-btn"></a>
                            <div class="profile-menu">
                                <ul>
                                    <li class="wishlist"><a href="">My wishlist<span class="amount">3</span></a></li>
                                    <li class="history"><a href="">Cashback history</a></li>
                                </ul>
                            </div><!-- .profile-menu -->
                        </div><!-- .header-profile -->
                    </div><!-- .header-profile-wrap -->
                </div><!-- .header-options-->
            </div><!-- .wrap -->
        </header>
        <div class="main">
            <?php echo $navigation; ?>
            <div class="wrap">
                <div class="slider-wrap">
                    <div class="slider flexslider">
                        <ul class="slides">
                            <li>
                                <img src="/assets/img/slide-1.jpg" alt="image description">
                                <div class="slide-text">
                                    Cashback catalog<br />BROWSE, SHOP AND GET PAID
                                </div><!-- .slide-text -->
                            </li>
                            <li>
                                <img src="/assets/img/slide-1.jpg" alt="image description">
                                <div class="slide-text">
                                    Cashback catalog<br />BROWSE, SHOP AND GET PAID
                                </div><!-- .slide-text -->
                            </li>
                            <li>
                                <img src="/assets/img/slide-1.jpg">
                                <div class="slide-text">
                                    Cashback catalog<br />BROWSE, SHOP AND GET PAID
                                </div><!-- .slide-text -->
                            </li>
                        </ul>
                    </div><!-- .slider .flexslider -->
                </div><!-- .slider-wrap -->
            </div><!-- .wrap -->
            <div class="top-deals">
                <div class="wrap">
                    <span class="title">Top cashback deals</span>
                    <ul class="products" >
                        <li class="product">
                            <a href="" class="add-to-wishlist-btn"></a>
                            <a href="">
                                <div class="labels">
                                    <span class="new-lbl">NEW</span>
                                    <span class="popular-lbl">POPULAR</span>
                                </div>
                                <div class="rating"></div>
                                <div class="img-wrap">
                                    <img src="/assets/img/product-img1.jpg" alt="image description" />
                                </div><!-- .img-wrap -->
                                <div class="product-info">
                                    <span class="title">Title of the product that is long and takes up to 3 rows</span>
                                    <div class="price">
                                        <span>CASHBACK:</span>
                                        <span>25.99 & 28.5%</span>
                                    </div>
                                    <span class="voucher">VOUCHER: -10%</span>
                                </div><!-- .product-info -->
                            </a>
                        </li><!-- .product -->
                        <li class="product">
                            <a href="" class="add-to-wishlist-btn"></a>
                            <a href="">
                                <div class="labels">
                                    <span class="new-lbl">NEW</span>
                                    <span class="popular-lbl">POPULAR</span>
                                </div>
                                <div class="rating"></div>
                                <div class="img-wrap">
                                    <img src="/assets/img/product-image2.jpg" alt="image description" />
                                </div><!-- .img-wrap -->
                                <div class="product-info">
                                    <span class="title">Short Title of the product</span>
                                    <div class="price">
                                        <span>CASHBACK:</span>
                                        <span>25.99 & 28.5%</span>
                                    </div>
                                    <span class="voucher">VOUCHER: -10%</span>
                                </div><!-- .product-info -->
                            </a>
                        </li><!-- .product -->
                        <li class="product">
                            <a href="" class="add-to-wishlist-btn"></a>
                            <a href="">
                                <div class="labels">
                                    <span class="new-lbl">NEW</span>
                                    <span class="popular-lbl">POPULAR</span>
                                </div>
                                <div class="rating"></div>
                                <div class="img-wrap">
                                    <img src="/assets/img/product-img3.jpg" alt="image description" />
                                </div><!-- .img-wrap -->
                                <div class="product-info">
                                    <span class="title">Short Title of the product</span>
                                    <div class="price">
                                        <span>CASHBACK:</span>
                                        <span>25.99 & 28.5%</span>
                                    </div>
                                    <span class="voucher">VOUCHER: -10%</span>
                                </div><!-- .product-info -->
                            </a>
                        </li><!-- .product -->
                        <li class="product">
                            <a href="" class="add-to-wishlist-btn"></a>
                            <a href="">
                                <div class="labels">
                                    <span class="new-lbl">NEW</span>
                                    <span class="popular-lbl">POPULAR</span>
                                </div>
                                <div class="rating"></div>
                                <div class="img-wrap">
                                    <img src="/assets/img/product-img4.jpg" alt="image description" />
                                </div><!-- .img-wrap -->
                                <div class="product-info">
                                    <span class="title">Title of the product that is long and takes up to 3 rows</span>
                                    <div class="price">
                                        <span>CASHBACK:</span>
                                        <span>25.99 & 28.5%</span>
                                    </div>
                                    <span class="voucher">VOUCHER: -10%</span>
                                </div><!-- .product-info -->
                            </a>
                        </li><!-- .product -->

                    </ul><!-- .products -->
                </div><!-- .wrap -->
            </div><!-- .top-deals -->
            <div class="popular-product-cat">
                <div class="wrap">
                    <span class="title">MOST POPULAR CATEGORIES</span>
                    <div class="product-cat">
                        <div class="container">
                            <ul>
                                <li class="selected">
                                    <a href="cat-companies-1">
                                        <div class="img-wrap">
                                            <img src="/assets/img/popular-cat-img-1.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">Entertainment</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="cat-companies-2">
                                        <div class="img-wrap">
                                            <img src="/assets/img/popular-cat-img-2.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">Home & Family</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="cat-companies-3">
                                        <div class="img-wrap">
                                            <img src="/assets/img/popular-cat-img-3.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">Lifestyle</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="cat-companies-4">
                                        <div class="img-wrap">
                                            <img src="/assets/img/popular-cat-img-4.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">Technology</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="cat-companies-5">
                                        <div class="img-wrap">
                                            <img src="/assets/img/popular-cat-img-1.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">Travel</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- .container -->
                        <div class="product-cat-nav">
                            <a href="" class="product-cat-nav-left disabled"></a>
                            <a href="" class="product-cat-nav-right"></a>
                        </div><!-- .product-cat-nav -->

                    </div><!-- .product-cat-->
                    <div class="cat-companies">
                        <div class="container">
                            <div class="content-width">
                                <ul class="cat-companies-1 selected">
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                </ul>
                                <ul class="cat-companies-2">
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                </ul>
                                <ul class="cat-companies-3">
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                </ul>
                                <ul class="cat-companies-4">
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                </ul>
                                <ul class="cat-companies-5">
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                </ul>
                            </div><!-- .content-width -->
                            <div class="cat-carousel-nav">
                                <a href="" class="nav-left"></a>
                                <a href="" class="nav-right"></a>
                            </div>
                        </div><!-- .container-->
                    </div><!-- .cat-companies-->
                </div><!-- .wrap -->
            </div><!-- .popular-product-cat -->
            <div class="about">
                <div class="wrap">
                    <div class="tabs">
                        <ul class="tab-menu">
                            <li class="active"><a href="tab-1">About us<div class="caret"><span class="caret-border"></span><span class="caret-body"></span></div></a></li>
                            <li><a href="tab-2">FAQ<div class="caret"><span class="caret-border"></span><span class="caret-body"></span></div></a></li>
                            <li><a href="tab-3">Contact<div class="caret"><span class="caret-border"></span><span class="caret-body"></span></div></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-1 tab active">
                                <ul class="steps">
                                    <li class="active">
                                        <div class="img-wrap">
                                            <div class="nr">1</div>
                                            <img src="/assets/img/steps-img-1.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">WHAT IS CASHBACKCATALOG.COM?</span>
                                        <p>Cashbackcatalog.com is an online sales promotion channel which facilitates safe and easy search of products, brands and shops from more than xxxx online stores in Finland, Germany and UK.</p>
                                        <p>Enjoy browsing, shopping, sharing and getting paid!</p>
                                    </li>
                                    <li>
                                        <div class="img-wrap">
                                            <div class="nr">2</div>
                                            <img src="/assets/img/steps-img-2.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">BE IN CHARGE OF YOUR IDENTITY: NEITHER REGISTRATION NEITHER LOGIN REQUIRED</span>
                                        <p>There is no need to login or register in cashbackcatalog.com site. The site is enabled by unique Glome technology which prevents to jeopardise your personal data and identity. Your profile information is kept in browser memory of your device.</p>
                                        <p>Enjoy online world and get most out of it without giving-up your identity!</p>
                                    </li>
                                    <li>
                                        <div class="img-wrap">
                                            <div class="nr">3</div>
                                            <img src="/assets/img/steps-img-3.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">REDEEMING YOUR MONEY</span>
                                        <p>You can redeem your money in 3 easy steps once amount had reached at least 1 Euro:</p>
                                        <p>1. press the redeem button - payment service window opens</p>
                                        <p>2. insert the bank details for account you wish to transfer money</p>
                                        <p>3. the money will be paid to the account you gave</p>
                                        <p>Enjoy more money in your bank account!</p>
                                    </li>
                                    <li>
                                        <div class="img-wrap">
                                            <div class="nr">4</div>
                                            <img src="/assets/img/steps-img-2.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">GOOD TO KNOW</span>
                                        <p>To be sure you get your cash back, always make sure that you are getting to online shop using a link from cashbackcatalog.com site.</p>
                                        <p>Each device and browser you use has a separate account within cashbackcatalog.com site.</p>
                                        <p>If you earn cash back using one device, it will not show up on another device. We do that to keep you in control.</p>
                                        <p>If you wish to have access to your account from multiple devices and browsers - become a Glome Wallet user and pair together as many devices you wish to use for accessing cashbackcatalog.com site. It works like this:</p>
                                    </li>
                                    <li>
                                        <div class="img-wrap">
                                            <div class="nr">5</div>
                                            <img src="/assets/img/steps-img-3.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">WHAT IS THE GLOME WALLET AND WHY TO USE IT?</span>
                                        <p>Glome wallet is an application which without giving away your identity and personal information allows you to customize <a href="">cashbackcatalog.com</a> and allows to pair as many devices you wish to access your multiple <a href="">cashbackcatalog.com</a> accounts.</p>
                                        <p>To install Glome Wallet you need device with Android Operating System. More about Glome Wallet and installing it you could find <a href="">here</a></p>
                                        <p>Welcome to cashbackcatalog.com to find what you are looking for and getting paid for purchasing online!</p>
                                    </li>
                                </ul>
                            </div><!-- .tab-1 -->
                            <div class="tab-2 tab">
                                <ul class="faq">
                                    <li>
                                        <span class="quest">1. HOW FAST THE CASH BACK MONEY APPEAR IN MY PROFILE?</span>
                                        <p>Your earned cash back will appear in your profile within 5 hours from the time you had done the purchase in online shop. It will have status “pending”.?</p>
                                    </li>
                                    <li>
                                        <span class="quest">2. WHAT DOES THE STATUSES NEXT TO MY CASH BACK MEAN?</span>
                                        <p>Status “Pending” - your cash back is registered but money haven’t arrived yet - it could take up to couple of months depending on retailer return policy. You cannot redeem it yet.</p>
                                        <p>Status “OK” - your money is ready to be redeemed</p>
                                        <p>Status “Rejected” - the cash back have been rejected. Reason could be returned to the shop purchase.</p>
                                        <p>Status “Paid” - you have been redeeming this amount</p>
                                    </li>
                                    <li>
                                        <span class="quest">3. WHEN I CAN REDEEM MY MONEY?</span>
                                        <p>You can redeem your cash back when amount is not less than 1 Euro and it has status “OK”. Transfer to the bank account could take up to 1 week.</p>
                                    </li>
                                       <li>
                                        <span class="quest">4. CAN I ACCESS MY CASHBACKCATALOG.COM ACCOUNT FROM ANY DEVICE AND LOCATION?</span>
                                        <p>You can access your account from any location if you use the same device and browser. For privacy and anonymity reasons every browser and device you use have different accounts - they do not know it is you. If you want to control all of them (and to get money into one place) we recommend you to install the Glome Wallet.</p>
                                    </li>
                                </ul>

                            </div><!-- .tab-2 -->
                            <div class="tab-3 tab">
                                <div>tab 3 content</div>
                            </div><!-- .tab-3 -->
                        </div><!-- .tab-content -->
                    </div><!-- .tabs -->
                </div><!-- .wrap -->
            </div><!-- .about -->
        </div><!-- .main -->
        <footer class="page-footer">
            <div class="footer-teaser">
                <div class="wrap">
                    <div class="footer-logo-wrap">
                        <a href="" class="footer-logo"></a>
                    </div><!-- .footer-logo -->
                    <div class="footer-teaser-txt">
                        <span class="txt-small">Cashback catalog is brought to you by <a href="">Glome</a></span>
                        <span>HUMAN-DRIVEN MARKETING PLATFORM</span>
                    </div><!-- .footer-teaser-txt -->
                </div><!-- .wrap -->
            </div><!-- .footer-teaser -->
            <nav class="footer-menu">
                <div class="wrap">
                    <ul>
                        <li class="col">
                            <span class="title">Business</span><!-- .item-title -->
                            <ul>
                                <li><a href="">Office</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Entertainment</span><!-- .item-title -->
                            <ul>
                                <li><a href="">Entertainment & Leisure</a></li>
                                <li><a href="">Games And Fun</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Home & Family</span>
                            <ul>
                                <li><a href="">Household Appliances</a></li>
                                <li><a href="">Home & </a></li>
                                <li><a href="">Baby & Kids</a></li>
                                <li><a href="">Animals</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Lifestyle</span>
                            <ul>
                                <li><a href="">Books, Papers & Magazines</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Living</span>
                            <ul>
                                <li><a href="">Fashion & Jewelry</a></li>
                                <li><a href="">Department </a></li>
                                <li><a href="">Health & Beauty</a></li>
                                <li><a href="">Food & Beverages</a></li>
                                <li><a href="">Hobby & Leisure Time</a></li>
                                <li><a href="">Gifts & Gadgets</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Sport</span>
                            <ul>
                                <li><a href="">Sport & Recreation</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Technology</span>
                            <ul>
                                <li><a href="">Telecommunication</a></li>
                                <li><a href="">Telecommunication</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Travel</span>
                            <ul>
                                <li><a href="">Travel</a></li>
                                <li><a href="">Travel & Holidays</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- .wrap -->
            </nav><!-- .footer-menu -->
        </footer>




        <!-- SCRIPTS -->
        <script type="text/javascript" src="/assets/js/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/assets/js/libs/masonry.js"></script>
        <script type="text/javascript" src="/assets/js/libs/jquery.jscrollpane.min.js"></script>
        <script type="text/javascript" src="/assets/js/libs/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="/assets/js/libs/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="/assets/js/libs/imagesloaded.js"></script>
        <script type="text/javascript" src="/assets/js/libs/classie.js"></script>
        <script type="text/javascript" src="/assets/js/libs/AnimOnScroll.js"></script>

        <script type="text/javascript" src="/assets/js/script.js"></script>
    </body>
</html>

