<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ie7 ie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class='no-js' lang='en'><!--<![endif]-->
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans&subset=latin-ext,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext,cyrillic' rel='stylesheet' type='text/css'>
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
        <script src="/assets/js/libs/modernizr.custom.js"></script>
        <!--[if lt IE 9]>
            <script src="/assets/js/libs/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="download-bar">
            <div class="wrap">
                <div class="center">
                    <div class="center-content">
                        <span>Download <a href="">Glome Wallet</a> to get your cashback</span>
                        <a href="" class="google-play"></a>
                    </div>
                    <a href="" class="close-download-bar"></a>
                </div><!-- .center-->
            </div><!-- .wrap -->
        </div><!-- .dowload-bar-->

        <header class="page_header">
            <div class="wrap">
                <div class="logo-wrap">
                    <a href="/" class="logo">
                        <span class="logo-text">Cashback catalog</span>
                        <span class="logo-text">BROWSE, SHOP AND GET PAID</span>
                    </a>
                </div><!-- .logo-wrap-->
                <div class="header-options">
                    <div class="location-filter">
                        <a class="mob-filter-btn"></a>
                        <div class="row">
                            <div class="lbl col-1" id="col-1">Currency</div>
                            <div class="lbl col-2" id="col-2">Language</div>
                            <div class="lbl col-3" id="col-3">Location</div>
                        </div><!-- .row -->
                        <div class="row">
                            <div class="form-item col-1">
                                <div class="select-box">
                                    <span class="selected">DKK</span>
                                    <ul>
                                        <li class="selected">DKK</li>
                                        <li>EUR</li>
                                        <li>SKK</li>
                                        <li>NKK</li>
                                    </ul>
                                </div><!-- .select-box -->
                            </div><!-- .form-item -->
                            <div class="form-item col-2">
                                <div class="select-box">
                                    <span class="selected">Lang</span>
                                    <ul>
                                        <li class="selected">Lit</li>
                                        <li>Eng</li>
                                        <li>Dansk</li>
                                        <li>Lat</li>
                                    </ul>
                                </div><!-- .select-box -->
                            </div><!-- .form-item -->
                            <div class="form-item col-3">
                                <div class="select-checkbox">
                                    <div class="selected-items">
                                        <span class="checkbox-content">Choose location</span>
                                    </div>
                                    <ul>
                                        <li class="selected">Finland</li>
                                        <li>Sweden</li>
                                        <li>Denmark</li>
                                        <li>Norway</li>
                                        <li>Latvia</li>
                                    </ul>
                                </div><!-- .select -->
                            </div><!-- .form-item -->
                        </div><!-- .row -->
                    </div><!-- .location-filter-->

                    <?php echo $user; ?>

                </div><!-- .header-options-->
            </div><!-- .wrap -->
        </header>
        <div class="main">
        <?php echo $content; ?>
        </div><!-- .main -->
        <footer class="page-footer">
            <div class="footer-teaser">
                <div class="wrap">
                    <div class="footer-logo-wrap">
                        <a href="/" class="footer-logo"></a>
                    </div><!-- .footer-logo -->
                    <div class="footer-teaser-txt">
                        <span class="txt-small">Cashback catalog is brought to you by <a href="">Glome</a></span>
                        <span>HUMAN-DRIVEN MARKETING PLATFORM</span>
                    </div><!-- .footer-teaser-txt -->
                </div><!-- .wrap -->
            </div><!-- .footer-teaser -->
            <nav class="footer-menu">
                <div class="wrap">
                    <ul>
                        <li class="col">
                            <span class="title">Business</span><!-- .item-title -->
                            <ul>
                                <li><a href="">Office</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Entertainment</span><!-- .item-title -->
                            <ul>
                                <li><a href="">Entertainment & Leisure</a></li>
                                <li><a href="">Games And Fun</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Home & Family</span>
                            <ul>
                                <li><a href="">Household Appliances</a></li>
                                <li><a href="">Home & </a></li>
                                <li><a href="">Baby & Kids</a></li>
                                <li><a href="">Animals</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Lifestyle</span>
                            <ul>
                                <li><a href="">Books, Papers & Magazines</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Living</span>
                            <ul>
                                <li><a href="">Fashion & Jewelry</a></li>
                                <li><a href="">Department </a></li>
                                <li><a href="">Health & Beauty</a></li>
                                <li><a href="">Food & Beverages</a></li>
                                <li><a href="">Hobby & Leisure Time</a></li>
                                <li><a href="">Gifts & Gadgets</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Sport</span>
                            <ul>
                                <li><a href="">Sport & Recreation</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Technology</span>
                            <ul>
                                <li><a href="">Telecommunication</a></li>
                                <li><a href="">Telecommunication</a></li>
                            </ul>
                        </li>
                        <li class="col">
                            <span class="title">Travel</span>
                            <ul>
                                <li><a href="">Travel</a></li>
                                <li><a href="">Travel & Holidays</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- .wrap -->
            </nav><!-- .footer-menu -->
        </footer>


        <?php echo isset($overlays) ? $overlays: '';?>

        <!-- SCRIPTS -->
        <script type="text/javascript" src="/assets/js/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/assets/js/libs/masonry.js"></script>
        <script type="text/javascript" src="/assets/js/libs/jquery.jscrollpane.min.js"></script>
        <script type="text/javascript" src="/assets/js/libs/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="/assets/js/libs/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="/assets/js/libs/imagesloaded.js"></script>
        <script type="text/javascript" src="/assets/js/libs/classie.js"></script>
        <script type="text/javascript" src="/assets/js/libs/AnimOnScroll.js"></script>

        <script type="text/javascript" src="/assets/js/script.js"></script>
    </body>
</html>

