
            <div class="search-bar">
                <div class="wrap">
                    <div class="cat-menu">
                        <span class="title">shop by category</span>
                        <ul>

                            <?php foreach ($categories as $id => $category): ?>
                            <li><span><?=$category['name']?></span></li>
                            <?php endforeach; ?>
                            <?php /*
                            <li>
                                <span>Business</span>
                                <div class="cat-sub-menu">
                                    <ul>
                                        <li><a href="">Fashion & Jewelry</a></li>
                                        <li><a href="">Department Stores</a></li>
                                        <li><a href="">Health & Beauty</a></li>
                                        <li><a href="">Food & Beverages</a></li>
                                        <li><a href="">Hobby & Leisure</a></li>
                                        <li><a href="">Gifts & Gadgets</a></li>
                                    </ul>
                                    <div class="cat-img-wrap">
                                        <div class="img-center">
                                            <img src="/assets/img/pic1.jpg" alt="image description"/>
                                        </div><!-- .img-center -->
                                    </div><!-- .cat-img-wrap -->
                                </div>
                            </li>
                            <li>
                                <span>Entertainment</span>
                                <div class="cat-sub-menu">
                                    <ul>
                                        <li><a href="">Fashion & Jewelry</a></li>
                                        <li><a href="">Department Stores</a></li>
                                    </ul>
                                    <div class="cat-img-wrap">
                                        <div class="img-center">
                                            <img src="/assets/img/pic1.jpg" alt="image description"/>
                                        </div><!-- .img-center -->
                                    </div><!-- .cat-img-wrap -->
                                </div>
                            </li>
                            <li>
                                <span>Home & Family</span>
                                <div class="cat-sub-menu">
                                    <ul>
                                        <li><a href="">Fashion & Jewelry</a></li>
                                        <li><a href="">Department Stores</a></li>
                                    </ul>
                                    <div class="cat-img-wrap">
                                        <div class="img-center">
                                            <img src="/assets/img/pic1.jpg" alt="image description"/>
                                        </div><!-- .img-center -->
                                    </div><!-- .cat-img-wrap -->
                                </div>
                            </li>
                            <li>
                                <span>Lifestyle</span>
                                <div class="cat-sub-menu">
                                    <ul>
                                        <li><a href="">Health & Beauty</a></li>
                                        <li><a href="">Food & Beverages</a></li>
                                        <li><a href="">Hobby & Leisure</a></li>
                                        <li><a href="">Gifts & Gadgets</a></li>
                                    </ul>
                                    <div class="cat-img-wrap">
                                        <div class="img-center">
                                            <img src="/assets/img/pic1.jpg" alt="image description"/>
                                        </div><!-- .img-center -->
                                    </div><!-- .cat-img-wrap -->
                                </div>
                            </li>
                            <li><span>Living</span></li>
                            <li><span>Sport</span></li>
                            <li><span>Technology</span></li>
                            <li><span>Travel</span></li>
                            */ ?>
                        </ul>
                    </div><!-- .cat-menu -->
                    <div class="search">
                        <div class="search-select">
                            <span class="selected">ALL</span>
                            <ul>
                                <li><a href="">ALL</a></li>
                                <li><a href="">menu item</a></li>
                                <li><a href="">menu item</a></li>
                                <li><a href="">menu item</a></li>
                                <li><a href="">menu item</a></li>
                            </ul>
                        </div>
                        <div class="search-btn"></div>
                        <form method="post" class="search-form">
                            <input type="text" name="search-field" id="search-input"/>
                            <input type="submit" value=" " name="search-submit" id="search-submit"/>
                        </form>
                    </div><!-- .search -->
                </div><!-- .wrap -->
            </div><!-- .search-bar -->