
            <div class="search-bar">
                <div class="wrap">
                    <div class="cat-menu">
                        <span class="title">shop by category</span>
                        <ul>

                            <?php foreach ($categories as $id => $category): ?>
                            <li>
                                <span><?=$category['name']?></span>
                            <?php if (count($category['subcategories'])): ?>
                                <div class="cat-sub-menu">
                                    <ul>
                                    <?php foreach ($category['subcategories'] as $id => $subcategory): ?>
                                        <li><a href="/catalog/<?=$id?>"><?=$subcategory['name']?></a></li>
                                    <?php endforeach; ?>
                                    </ul>
                                </div>
                            <?php endif; ?>
                            </li>

                            <?php endforeach; ?>
                        </ul>
                    </div><!-- .cat-menu -->
                    <div class="search">
                        <div class="search-select">
                            <span class="selected">ALL</span>
                            <ul>
                                <li class="selected"><a href="">ALL</a></li>
                                <li><a href="">CURRENT</a></li>
                            </ul>
                        </div>
                        <div class="search-btn"></div>
                        <form method="post" class="search-form" action="/search">
                            <input type="text" name="search-field" id="search-input" value="<?php echo isset($query)?$query : ''?>"/>
                            <input type="submit" value=" " name="search-submit" id="search-submit"/>
                        </form>
                    </div><!-- .search -->
                </div><!-- .wrap -->
            </div><!-- .search-bar -->