
        <div class="overlay">
            <div class="overlay-bg"></div>
            <div class="center">
                <div class="content-box">
                    <a href="" class="close-overlay"></a>
                    <span class="title">Just a second, we are opening Ecco Finland site</span>
                    <div class="notice-msg">
                        <span class="bold">Do not forget to use voucher code to get discount for Title of the product</span>
                        <span>Voucher code: 678HHk790</span>
                    </div>
                </div>
            </div>
        </div>


         <div class="overlay">
            <div class="overlay-bg"></div>
            <div class="center">
                <div class="content-box">
                    <a href="" class="close-overlay"></a>
                    <span class="title"><span class="product-name">Name of the product with a long and descriptive two row title</span> was opened in a new window </span>
                    <span class="retailer">Retailer: <span>Ecco Finland</span></span>
                    <div class="notice-msg">
                        <span class="bold">Your visit has been recorded</span>
                        <span>The cashback from any purchase (s) will soon show in your Glome Wallet</span>
                    </div>
                    <a href="" class="continue-shopping">Continue browsing and shoping in Cashback catalog </a>
                </div>
            </div>
        </div>

