
            <div class="popular-product-cat">
                <div class="wrap">
                    <span class="title">MOST POPULAR CATEGORIES</span>
                    <div class="product-cat">
                        <div class="container">
                            <ul>
                                <li class="selected">
                                    <a href="cat-companies-1">
                                        <div class="img-wrap">
                                            <img src="/assets/img/popular-cat-img-1.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">Entertainment</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="cat-companies-2">
                                        <div class="img-wrap">
                                            <img src="/assets/img/popular-cat-img-2.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">Home & Family</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="cat-companies-3">
                                        <div class="img-wrap">
                                            <img src="/assets/img/popular-cat-img-3.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">Lifestyle</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="cat-companies-4">
                                        <div class="img-wrap">
                                            <img src="/assets/img/popular-cat-img-4.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">Technology</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="cat-companies-5">
                                        <div class="img-wrap">
                                            <img src="/assets/img/popular-cat-img-1.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">Travel</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- .container -->
                        <div class="product-cat-nav">
                            <a href="" class="product-cat-nav-left disabled"></a>
                            <a href="" class="product-cat-nav-right"></a>
                        </div><!-- .product-cat-nav -->

                    </div><!-- .product-cat-->
                    <div class="cat-companies">
                        <div class="container">
                            <div class="content-width">
                                <ul class="cat-companies-1 selected">
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                </ul>
                                <ul class="cat-companies-2">
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                </ul>
                                <ul class="cat-companies-3">
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                </ul>
                                <ul class="cat-companies-4">
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                </ul>
                                <ul class="cat-companies-5">
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-3.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-1.png" alt="image description" /></li>
                                    <li><img src="/assets/img/cat-logo-2.png" alt="image description" /></li>
                                </ul>
                            </div><!-- .content-width -->
                            <div class="cat-carousel-nav">
                                <a href="" class="nav-left"></a>
                                <a href="" class="nav-right"></a>
                            </div>
                        </div><!-- .container-->
                    </div><!-- .cat-companies-->
                </div><!-- .wrap -->
            </div><!-- .popular-product-cat -->