
                    <div class="header-profile-wrap">
                        <div class="redeem">
                            <div class="earnings">
                                <span>You have earned</span>
                                <span class="amount">€10.00</span>
                            </div><!-- .earning -->
                            <a href="" class="redeem-btn">REDEEM</a>
                        </div><!-- .redeem -->
                        <div class="header-profile">
                            <span class="amount"></span>
                            <a href="/profile" class="header-profile-btn"></a>
                            <div class="profile-menu">
                                <ul>
                                    <li class="wishlist"><a href="/profile/wishlist">My wishlist<span class="amount">3</span></a></li>
                                    <li class="history"><a href="/profile/history">Cashback history</a></li>
                                </ul>
                            </div><!-- .profile-menu -->
                        </div><!-- .header-profile -->
                    </div><!-- .header-profile-wrap -->