
            <div class="about">
                <div class="wrap">
                    <div class="tabs">
                        <ul class="tab-menu">
                            <li class="active"><a href="#about" ><?=$this->translate('info.about_title')?><div class="caret"><span class="caret-border"></span><span class="caret-body"></span></div></a></li>
                            <li><a href="#remote-content"><?=$this->translate('info.faq_title')?><div class="caret"><span class="caret-border"></span><span class="caret-body"></span></div></a></li>
                            <li><a href="#contact-form"><?=$this->translate('info.contact_title')?><div class="caret"><span class="caret-border"></span><span class="caret-body"></span></div></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-1 tab active" id="about">
                                <ul class="steps">
                                    <li class="active">
                                        <div class="img-wrap">
                                            <div class="nr">1</div>
                                            <img src="/assets/img/find-300x156.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">FIND WHAT YOU ARE LOOKING FOR!</span>
                                        <p>Browse our catalog to see how much money we can help you to save.</p>
                                    </li>
                                    <li>
                                        <div class="img-wrap">
                                            <div class="nr">2</div>
                                            <img src="/assets/img/buy-300x225.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">BUY PRODUCTS TO EARN MONEY!</span>
                                        <p>Use our deals to buy your favorite products and get paid for it.</p>
                                    </li>
                                    <li>
                                        <div class="img-wrap">
                                            <div class="nr">3</div>
                                            <img src="/assets/img/26162741_s-300x200.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">MORE YOU SHOP MORE YOU EARN!</span>
                                        <p>Come back to us for more shopping and redeeming Your money.</p>
                                    </li>
                                </ul>
                            </div><!-- .tab-1 -->
                            <div class="tab-2 tab" id="remote-content">
                            </div><!-- .tab-2 -->

                            <div class="tab-3 tab" id="contact-form">
                                <!--
                                <div class="feedback">
                                    <div class="title">Thank you! Your message has been sent!</div>
                                </div><!-- .feedback -->
                                <div id="message-notice" class="message-notice msg-box-fullpage hidden ">
                                  <div><?=$this->translate('form.message_sent')?></div>
                                </div>
                                <form id="message-form" method="post" class="contact-form">
                                    <div class="title"><?=$this->translate('form.title')?></div>
                                    <div class="form-item">
                                        <label for="email"><?=$this->translate('form.email_title')?>:</label>
                                        <input type="text" id="email" name="email" />

                                    </div>
                                    <div class="form-item">
                                        <label for="comments"><?=$this->translate('form.comment_title')?>:</label>
                                        <textarea name="comments" class="comments" id="comments"></textarea>
                                    </div>
                                    <div class="form-item">
                                        <input type="submit" value="SEND" name="submit" id="submit" />
                                    </div>
                                </form>

                                <div class="contact-social-media">
                                    <div class="center">
                                        <span><?=$this->translate('info.other_contacts')?></span>
                                        <span>
                                            <a href="https://www.facebook.com/cashbackcatalog" class="fb"></a>
                                            <a href="https://twitter.com/CashbackCatalog" class="tw"></a>
                                        </span>
                                    </div><!-- .center -->
                                </div><!-- .contact-social-media -->

                            </div><!-- .tab-3 -->
                        </div><!-- .tab-content -->
                    </div><!-- .tabs -->
                </div><!-- .wrap -->
            </div><!-- .about -->