
            <div class="about">
                <div class="wrap">
                    <div class="tabs">
                        <ul class="tab-menu">
                            <li class="active"><a href="tab-1"><?=$this->translate('info.about_title')?><div class="caret"><span class="caret-border"></span><span class="caret-body"></span></div></a></li>
                            <li><a href="tab-2"><?=$this->translate('info.faq_title')?><div class="caret"><span class="caret-border"></span><span class="caret-body"></span></div></a></li>
                            <li><a href="tab-3"><?=$this->translate('info.contact_title')?><div class="caret"><span class="caret-border"></span><span class="caret-body"></span></div></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-1 tab active">
                                <ul class="steps">
                                    <li class="active">
                                        <div class="img-wrap">
                                            <div class="nr">1</div>
                                            <img src="/assets/img/find-300x156.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">FIND WHAT YOU ARE LOOKING FOR!</span>
                                        <p>Browse our catalog to see how much money we can help you to save.</p>
                                    </li>
                                    <li>
                                        <div class="img-wrap">
                                            <div class="nr">2</div>
                                            <img src="/assets/img/buy-300x225.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">BUY PRODUCTS TO EARN MONEY!</span>
                                        <p>Use our deals to buy your favorite products and get paid for it.</p>
                                    </li>
                                    <li>
                                        <div class="img-wrap">
                                            <div class="nr">3</div>
                                            <img src="/assets/img/26162741_s-300x200.jpg" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <span class="title">MORE YOU SHOP MORE YOU EARN!</span>
                                        <p>Come back to us for more shopping and redeeming Your money.</p>
                                    </li>
                                </ul>
                            </div><!-- .tab-1 -->
                            <div class="tab-2 tab">
                                <ul class="faq">
                                    <li>
                                        <span class="quest">1. WHAT IS CASHBACKCATALOG.COM? </span>
                                        <p>Cashbackcatalog.com is an online shopping mall that rewards online shoppers with cash back rebate when they shop in our partner online stores. Cashbackcatalog offers online shoppers more than XXX great cash back deals from xxx online shops in Finland, Germany and United Kingdom. The site has links to travel, fashion, electronics, sports, games, media, toys, gourmet and many more popular items. The site hosts a diverse range of products, from well-known brands to newcomers, all packaged with hot deals, special offers, discount codes and rebates.</p>
                                    </li>
                                    <li>
                                        <span class="quest">2. WHICH DEVICES AND BROWSERS I CAN USE FOR CASHBACKCATALOG.COM SITE?</span>
                                        <p>Shoppers can use the cashbackcatalog.com site with a PC, tablet or mobile device, enabling browsing, searching and finding products from multiple retailers in an easy and structured way.</p>
                                        <p>Each device and browser you use has a separate account within cashbackcatalog.com site. If you earn cash back using one device, it will not show up on another device. We do that to keep you in control.</p>
                                    </li>
                                    <li>
                                        <span class="quest">3. WHY THERE IS NO PLACE TO REGISTER OR LOG-IN?</span>
                                        <p>When you enter any shop on the street, you are not asked for your ID card at the door. Why is it OK to do it when you are shopping online? There is no need to login or register in cashbackcatalog.com site. The site is enabled by unique Glome technology which prevents to jeopardise your personal data and identity.</p>
                                    </li>
                                    <li>
                                        <span class="quest">4. HOW CAN I AASURE THAT I GET CASHBACK?</span>
                                        <p>To assure you get your cash back, always remember to get to online shop using a link from cashbackcatalog.com site.</p>
                                    </li>
                                    <li>
                                        <span class="quest">5. WILL I GET CASHBACK IF I BUY FROM ONLINE SHOP DIFFERENT PRODUCT AS I PRESSED IN CASHBACKCATALOG SITE?</span>
                                        <p>Yes, if you buy any or multiple products from online shop where you have been getting straight from cashbackcatalog, you will earn cash back which will be adjusted accordingly amount you spend in online shop.</p>
                                    </li>
                                    <li>
                                        <span class="quest">6. HOW FAST THE CASH BACK MONEY APPEAR IN MY PROFILE?</span>
                                        <p>Your earned cash back will appear in your profile within 5 hours from the time you had done the purchase in online shop. It will have status “pending”.</p>
                                    </li>
                                    <li>
                                        <span class="quest">7. WHAT DOES THE STATUSES NEXT TO MY CASH BACK MEAN?</span>
                                        <p>Status “Pending” – your cash back is registered but money haven’t arrived yet – it could take up to couple of months depending on retailer return policy. You cannot redeem it yet.</p>
                                        <p>Status “OK” – your money is ready to be redeemed</p>
                                        <p>Status “Rejected” – the cash back have been rejected. Reason could be returned to the shop purchase.</p>
                                        <p>Status “Paid” – you have been redeeming this amount</p>
                                    </li>
                                    <li>
                                        <span class="quest">8. HOW LONG IT COULD TAKE TO CHANGE STATUS “PENDING” TO STATUS “OK”?</span>
                                        <p>Status “pending” shows that the system had registered your purchase, however, the real money transfer from retail store haven’t been transferred yet. Status “OK” shows that retailer had transferred money and you can redeem it. The timings depend on online retailer terms and conditions and it is basically linked to the time consumers are allowed to send back or change their purchase.</p>
                                    </li>
                                    <li>
                                        <span class="quest">9. WHEN I CAN REDEEM MY MONEY?</span>
                                        <p>You can redeem your cash back when amount is not less than 5 Euros and it has status “OK”. Transfer to the bank account could take up to 1 week.</p>
                                    </li>
                                    <li>
                                        <span class="quest">10. WHERE CAN I REDEEM MY MONEY?</span>
                                        <p>Money could be transfered to any IBAN account in EU or EEA country. If account is opened in other currency that Euro, you will be charged the exchange rate.</p>
                                    </li>
                                    <li>
                                        <span class="quest">11. CAN I ACCESS MY CASHBACKCATALOG.COM ACCOUNT FROM ANY DEVICE AND LOCATION?</span>
                                        <p>You can access your account from any location if you use the same device and browser.</p>
                                        <p>For privacy and anonymity reasons every browser and device you use have different accounts – they do not know it is you. If you want to control all of them (and to get money into one place) we recommend you to install the Glome Wallet.</p>
                                    </li>
                                    <li>
                                        <span class="quest">12. IF SOMEBODY STEALS MY MOBILE DEVICE CAN SHE/HE REDEEM MY EARNED CASH BACK?</span>
                                        <p>if you have your mobile phone without any screen lock or other protection then by using the phone’s browser and getting to the cashbackcatalog.com site anyone could reach to your account. To avoid loosing your account data we recommend you to install Glome Wallet and pair it with other devices you use – PCs, tablets, mobile phones.We are looking into ways for you to protect your data and devices even better together with selected partners.</p>
                                    </li>
                                    <li>
                                        <span class="quest">13. MY DEVICE CRASHED/GOT LOST AND I CANNOT USE IT ANY MORE FOR ACCESSING CASHBACKCATALOG.COM. HOW CAN I GET ALL MY PROFILE INFORMATION AND EARNED CASHBACK IN MY NEW DEVICE AND BROWSER?</span>
                                        <p>We are looking into ways for you to backup your account, but for now it is not possible. Best way is to use Glome Wallet as then you are storing information in several places.</p>
                                    </li>
                                    <li>
                                        <span class="quest">14. WHAT IS THE GLOME WALLET AND WHY SHOULD I USE IT?</span>
                                        <p>Glome wallet is an application which without giving away your identity and personal information allows you to customize cashbackcatalog site and allows to pair as many devices you wish to access your multiplecashbackcatalog accounts.</p>
                                    </li>
                                    <li>
                                        <span class="quest">15. WHY DO I NEED TO INSTALL GLOME WALLET?</span>
                                        <p>If you use the Glome Wallet, you can pair as many devices you wish to access yourcashbackcatalog.com account. You also are able to customize the <a href="http://cashbackcatalog.com/">cashbackcatalog.com</a> and get special offers directly to your Glome Wallet. Read more about Glome at <a href="http://www.glome.me/">www.glome.me</a>.</p>
                                    </li>
                                    <li>
                                        <span class="quest">16. WHAT DO I NEED TO BE ABLE TO INSTALL THE GLOME WALLET?</span>
                                        <p>You need an Android operating system based device. iOS and Windows phones are in the pipeline, but not yet schedule for the launch date decided.</p>
                                    </li>
                                    <li>
                                        <span class="quest">17. I CHANGED MY MOBILE DEVICE TO THE NEW ONE. CAN I REINSTALL GLOME WALLET THERE?</span>
                                        <p>You can reinstall the wallet and then pair with all the services you use. Unfortunately moving settings and money is not yet possible but we are working on a backup solution which would also include this functionality. It is coming soon.</p>
                                    </li>
                                    <li>
                                        <span class="quest">18. I HAVE BEEN SHOPPING, BUT THE CASH BACK DID NOT APPEAR IN MY PROFILE. WHAT CAN I DO?</span>
                                        <p>If you have been purchasing in online retailer store and you are sure that you have been getting to retailer store using the link from cashbackcatalog.com, make sure you are using the same device and the same browser. Your cash back also might not be registered if you use voucher codes from different sites as cashbackcatalog.com.</p>
                                    </li>
                                    <li>
                                        <span class="quest">19. WHAT HAPPENS WITH MY CASH BACK IF I RETURN THE PURCHASE?</span>
                                        <p>In the case you return your complete purchase the cash back status will be changed to “rejected”, if you return your purchase partially then the amount of cash back will be adjusted accordingly.</p>
                                    </li>
                                    <li>
                                        <span class="quest">20. HOW LONG YOUR SITE KEEPS MY ACCOUNT?</span>
                                        <p>Your cash back account will be suspended without any notice if you will not be visiting your cashbackcatalog.com account for 36 months. We recommend you to use the Glome wallet to control your earnings across multiple Glome enabled services.</p>
                                    </li>
                                    <li>
                                        <span class="quest">21. I HAVE A QUESTION WHICH IS NOT IN THE LIST</span>
                                        <p>Please send your question via <a href="https://stage.cashbackcatalog.com/cms/en/contact-us/">this link</a> and we will come back to you.</p>
                                    </li>

                                </ul>

                            </div><!-- .tab-2 -->
                            <div class="tab-3 tab">
                                <!--
                                <div class="feedback">
                                    <div class="title">Thank you! Your message has been sent!</div>
                                </div><!-- .feedback -->
                                
                                <form method="post" class="contact-form">
                                    <div class="title">Feel free to leave a message!</div>
                                    <div class="form-item">
                                        <label for="email">E-mail:</label>
                                        <input type="text" id="email" name="email" />
                                      
                                    </div>
                                    <div class="form-item">
                                        <label for="comments">Comment:</label>
                                        <textarea name="comments" id="comments"></textarea>
                                    </div>
                                    <div class="form-item">
                                        <input type="submit" value="SEND" name="submit" id="submit" />
                                    </div>
                                </form>
                                
                                <div class="contact-social-media">
                                    <div class="center">
                                        <span>You can contact us by using the form above or via Twitter and Facebook.</span>
                                        <span>
                                            <a href="" class="fb"></a>
                                            <a href="" class="tw"></a>
                                        </span>
                                    </div><!-- .center -->
                                </div><!-- .contact-social-media -->
                                
                            </div><!-- .tab-3 -->
                        </div><!-- .tab-content -->
                    </div><!-- .tabs -->
                </div><!-- .wrap -->
            </div><!-- .about -->