
            <div class="wrap">
                <div class="slider-wrap">
                    <div class="slider flexslider">
                        <ul class="slides">
                            <li>
                                <div class="banner-wrap">
                                    <div class="first banner">
                                        <div class="bg-img"></div><!-- .bg-img -->
                                        <div class="left">
                                            <div class="txt-bottom">
                                                <div class="txt-large">
                                                    <p><?=$this->translate('banners.first_title')?></p>
                                                </div>
                                                <div class="txt-small">
                                                    <p><?=$this->translate('banners.first_subtitle')?></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .banner -->
                                </div><!-- .banner-wrap -->
                            </li>
                            <li>
                                <div class="banner-wrap">
                                    <div class="second banner">
                                        <div class="bg-img"></div><!-- .bg-img -->
                                        <div class="left">
                                            <div class="txt-bottom">
                                                <div class="txt-large">
                                                    <p><?=$this->translate('banners.second_title')?></p>
                                                </div>
                                                <div class="txt-small">
                                                    <p><?=$this->translate('banners.second_subtitle')?></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .banner -->
                                </div><!-- .banner-wrap -->
                            </li>
                            <li>
                                <div class="banner-wrap">
                                    <div class="third banner">
                                        <div class="bg-img"></div><!-- .bg-img -->
                                        <div class="left">
                                            <div class="txt-bottom">
                                                <div class="txt-large">
                                                    <p><?=$this->translate('banners.third_title')?></p>
                                                </div>
                                                <div class="txt-small">
                                                    <p><?=$this->translate('banners.third_subtitle')?></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .banner -->
                                </div><!-- .banner-wrap -->
                            </li>
                        </ul>
                    </div><!-- .slider .flexslider -->
                </div><!-- .slider-wrap -->
            </div><!-- .wrap -->