<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ie7 ie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class='no-js' lang='en'><!--<![endif]-->
    <head>
        <title>Cashback Catalog Beta - powered by Glome</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <div class="main">
            <ul class="products masonry-grid" id="grid">
            <?php echo $content; ?>
            </ul><!-- .products -->
        </div><!-- .main -->

    </body>
</html>

