<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ie7 ie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class='no-js' lang='en'><!--<![endif]-->
    <head>
        <title>Glome Cashback Catalog</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <div class="main">
        <?php echo $content; ?>
        </div><!-- .main -->

    </body>
</html>

