<div class="conditions">
    <div class="wrap">
        <div class="title">
            <h1>Terms of Use</h1>
        </div><!-- .title -->
        <div class="content">
            <p>The Cashbackcatalog.com site (hereinafter referred to as the “Site” or “Cashbackcatalog.com”) is published and maintained by Glome Ltd.</p>
            <p>These terms of use (the “Terms of Use”), together with the privacy policy (the “Privacy Policy”), govern your access to and use of the Site.</p>
            <p>By using cashbackcatalog.com, you agree to be bound by these Terms of Use and the Privacy Policy in their totality. Cashbackcatalog.com may, at any time and at its sole discretion, modify any and all of these Terms of Use. </p>

            <span class="subtitle">1.Description of the Site</span>
            <p>Cashbackcatalog.com is a rebate website that rewards online shoppers when they shop on affiliated online stores. As a user of Cashbackcatalog.com, you have the ability to earn money in the form of automatic rebates on purchases from a number of retailers advertised on the Site.</p>

            <span class="subtitle">2.Joining Cashbackcatalog.com</span>
            <p>When you join Cashbackcatalog.com you do not identify yourself or submit any personal information. Your account will be created using the browser memory, where your browsing and shopping history will be stored. </p>
            <p>One account may be accessed from one browser and one PC or other device only. In case you want to access your account from multiple devices, you can do so by pairing them via Glome Wallet. [To find out more about Glome Wallet and the terms and conditions applicable thereto, please click <a href="http://glome.me/">here</a>].</p>

            <span class="subtitle">3.Use of the Site</span>
            <p>Cash back payments will be issued at your request. You will be able to redeem the earned amount once you have payable funds on your account. The minimum redeemable amount is five (5) euros.</p>
            <p>Earned amounts may be redeemed by transferring the amount to your bank account through the payments transfer service(s) available at Cashbackcatalog.com subject to the terms and conditions applicable to such service(s). Currently, only transfers to IBAN bank accounts in EU or EEA countries are available. A foreign currency exchange fee will be deducted from payments made to non-euro accounts in accordance with the terms of the payments transfer service(s).</p>

            <span class="subtitle">4.Payments</span>
            <p>The servers and databases are located in secure data centers operated by the service hosting provider of Glome Ltd. The databases are password protected and can only be accessed via secure connections. The servers are only accessible through Secure Shell (SSH) protocol using key based authentication. </p>
            <p>All payment transactions are processed and administered by third party service providers which usually require additional payment information (e.g. your name, e-mail address, bank account number, etc.) in order to make payments to you. Cashbackcatalog.com will not have access to or control over any payment transaction information that you provide to third party service providers</p>
            <p>The time within which the redeemed amount appears on your bank account depends on the bank that you are using, and it may take up to one (1) week for the payment to show up on your bank account.</p>
            <p>Please note that ad-blockers or other anonymity enhancing tools may break the necessary tracking that Glome and/or its affiliates use for ensuring payments to you. We recommend that all users enable cookies and other tracking technologies in their browsers, since cookies and/or related technologies may be used by our affiliates and/or third party online stores to authenticate users and record purchases made by them. </p>

            <span class="subtitle">5.Links to other websites</span>
            <p>Cashbackcatalog.com contains links to third parties’ websites, such as third party online stores. Such websites are not under the control of Cashbackcatalog.com, and Cashbackcatalog.com does not take any responsibility for the content, products, services, promotions or information provided or made available on those sites. Cashbackcatalog.com is not a party to any transactions you enter into with third parties.</p>

            <span class="subtitle">6.Maintaining your account</span>
            <p>To ensure that nobody else has access to your Cashbackcatalog.com account make sure you use a password to protect your PC or mobile device. For security purposes, it is recommended that you memorize your password and do not write it down. You are responsible for keeping your password and other account information safe and confidential.</p>
            <p>As your Cashbackcatalog.com account is connected to one browser only, make sure you always use the same browser to access your account and do not reset your browser settings. </p>
            <p>To have access to your Cashbackcatalog.com account from more than one PC or mobile device, you use may the Glome Wallet application.</p>
            <p>Cashbackcatalog.com shall not be responsible for lost user accounts in the case of lost, damaged, stolen PCs and/or mobile devices. </p>

            <span class="subtitle">7.Intellectual property right</span>
            <p>The general structure of the Cashbackcatalog.com and all other elements it consists of (such as graphics, texts, visuals, photos, logos, domain names and art works) are owned by or have been licensed to Glome Ltd. Any and all reproduction and representation of the Site or any element it consists of is strictly forbidden without the express authorization of Glome Ltd. </p>

            <span class="subtitle">8.Warranties and limitation of liability</span>
            <p>Cashbackcatalog.com shall make reasonable efforts to keep the Site operational. However, certain technical difficulties or maintenance may, from time to time, result in temporary interruptions. Cashbackcatalog.com reserves the right to modify or discontinue, temporarily or permanently, functions and features of the Site, with or without notice, all without liability to you for any interruption, modification, or discontinuation of the Site or any function or feature thereof. </p>
            <p>Cashbackcatalog.com does not warrant the availability or functionality of the sites of its affiliates and/or other third parties, and it is not responsible for the products or services offered by third party online stores.Cashbackcatalog.com cannot be held liable for lost, stolen or delayed cash back payments due to the conduct or errors of third party service providers.</p>

            <span class="subtitle">9.Privacy Policy</span>
            <p>Cashbackcatalog.com shall use and maintain user related data as well as other information collected or otherwise obtained in connection with the Site strictly in accordance with the Privacy Policy. </p>
            <p>The Site’s Privacy Policy is incorporated into these Terms of Use by this reference. The Privacy Policy outlines how Cashbackcatalog.com handles your account information and the steps it takes to ensure your privacy.</p>

            <span class="subtitle">10.Inactive accounts</span>
            <p>In order to minimize our administration overhead, or for any other reason, Cashbackcatalog.com reserves the right to terminate inactive accounts. Your cash back account will be suspended without notice if your Cashbackcatalog.com account/profile is inactive for thirty-six (36) consecutive months.</p>

            <span class="subtitle">11.Termination</span>
            <p>Failure to comply with these Terms of Use may give Cashbackcatalog.com rise to deny your access to Cashbackcatalog.com.</p>
            <p>Cashbackcatalog.com reserves the right to terminate the Site in whole or in part at any time with notice. In the event the Site is terminated, you will have sixty (60) days from the date notice is transmitted by Cashbackcatalog.com to your account and made available on the Site to redeem the earned cash back. </p>

            <span class="subtitle">12.Modifications</span>
            <p>Cashbackcatalog.com may modify any of the terms and conditions contained in these Terms of Use, at any time and at our sole discretion, for any reason. Cashbackcatalog.com will post the revised Terms of Use on the Site. The new terms will come into effect no later than thirty (30) days after they have been made available on the Site.</p>

            <span class="subtitle">13.Applicable law</span>
            <p class="large">These Terms of Use and the use of the Site shall be governed by and construed in accordance with the laws of Finland without reference to the conflict of law rules.</p>

        </div><!-- .content -->
    </div><!-- .wrap -->
</div>