<div class="conditions">
    <div class="wrap">
    <div class="title">
        <h1>Privacy policy</h1>
    </div><!-- .title -->

    <div class="content">
        <p>Cashbackcatalog.com (hereinafter referred to as the “Site” or “Cashbackcatalog.com”) treats users’ privacy very seriously and does all that it can to ensure that the data held on its users is protected and used correctly. The privacy policy below details what information the Site holds on you as a user of Cashbackcatalog.com and the ways in which the Site uses this information.</p>
        <p>By using Cashbackcatalog.com, you agree with the terms of this Privacy Policy. Please take a moment to read the Privacy Policy below to make sure you understand and agree with it. If you do not agree with any term in this Privacy Policy, please do not use Cashbackcatalog.com.</p>

        <span class="subtitle">1.Information We Collect</span>
        <p>When you join Cashbackcatalog.com, you do not submit any personal information, including your name, street address, email address, telephone number or other contact information, and you do not have to identify yourself. </p>
        <p class="large">Your account will be created using the browser memory, where your browsing and shopping history will be stored. Cashbackcatalog.com collects information only on your online behavior (e.g. which ads you click on, which sites and online stores you visit and which products you check, etc). Such information cannot be connected to a specific person. The information collected by Casbackcatalog.com will be connected to your browser or mobile device through a machine generated hexadecimal string, GLOME ID. </p>

        <span class="subtitle">2.Use and sharing of information</span>
        <p>The online behavior information that Cashbackcatalog.com collects is used to enhance your browsing experience on Cashbackcatalog.com.</p>
        <p>Cashbackcatalog.com will not sell, share or otherwise distribute the information it collects to third parties, except as required by law (e.g. to government bodies and law enforcement agencies).</p>
        <p>If you are a Glome Wallet user, your online behavior data may be shared with other services provided by Glome Ltd. with your permission. As a Glome wallet user, you will have access to all the information Cashbackcatalog.com has collected on you in connection with the use of the Site. To find out more about Glome and privacy, please click <a href="http://glome.me/">here</a>.</p>


        <span class="subtitle">3.Third party links</span>
        <p>Cashbackcatalog.com contains links to various third party sites. Such third parties are not bound by this Privacy Policy, and Cashbackcatalog.com cannot control or be held responsible for the privacy practices of them. </p>
        <p>Once you link to another website you are subject to the terms and policies of that site. Cashbackcatalog.com strongly encourages you to read the privacy policies of the respective sites before disclosing any information to them. Cashbackcatalog.com seeks to protect the integrity of the Site and welcomes any feedback of the practices of third parties linked to the Site.</p>
        <span class="subtitle2">Cookies</span>
        <p>Cookies are small text files used by web servers to identity and track users as they navigate different pages on a website, and to identify users returning to a website. Cashbackcatalog.com does not use cookies itself, but does cooperate with third parties, such as affiliates and online stores, that use cookies. </p>
        <p>You always have the ability to accept or decline cookies. However, in order to earn cash back rebates, you are recommended to have cookies and other related tracking technologies enabled in your software, since your purchases on third party sites and the cash back information related thereto may be recorded and reported back to Cashbackcatalog.com through cookies and/or other related technologies set by Cashbackcatalog.com’s affiliates and/or third party online stores.</p>

        <span class="subtitle">4.Security measures / How we protect information</span>
        <p>The servers and databases are located in secure data centers operated by the service hosting provider of Glome Ltd. The databases are password protected and can only be accessed via secure connections. The servers are only accessible through Secure Shell (SSH) protocol using key based authentication. </p>

        <span class="subtitle">5.Changes</span>
        <p>Cashbackcatalog.com may change this Privacy Policy by posting a new version of this Privacy Policy on the Site. Cashbackcatalog.com reserves the right to modify this Privacy Policy at any time, so please review it regularly.</p>
    </div><!-- .content -->
    </div><!-- .wrap -->
</div>
