
<footer class="page-footer">
    <div class="footer-teaser">
        <div class="wrap">
            <div class="footer-logo-wrap">
                <a href="/" class="footer-logo"></a>
            </div><!-- .footer-logo -->
            <div class="footer-teaser-txt">
                <span class="txt-small">Cashback catalog is brought to you by <a href="/">Glome</a></span>
                <span>HUMAN-DRIVEN MARKETING PLATFORM</span>
            </div><!-- .footer-teaser-txt -->
        </div><!-- .wrap -->
    </div><!-- .footer-teaser -->

</footer>
<div class="aurumit">

    <div class="wrap center">
        <a href="http://aurumit.com" target="_blank" class="aurumit_btn">
            <span class="aurumit-logo">
                <svg width="30" height="30">
                <image xlink:href="/assets/img/AuIT-03.svg" src="svg.png" width="30" height="30" />
                </svg>
            </span>
            <span>Mājas lapu izstrāde: Aurum IT</span>
        </a>
        <div class="aurumit-contact">
            <span><a href="http://aurumit.com">www.aurumit.com</a></span>
            <span><a href="mailTo:info@aurumit.com">info@aurumit.com</a></span>
            <span>+371 67229129</span>
        </div><!-- .aurumit-contact -->
    </div>
</div><!-- .aurumit -->
