
<footer class="page-footer">
    <div class="footer-teaser">
        <div class="wrap">
            <div class="footer-logo-wrap">
                <a href="/" class="footer-logo"></a>
            </div><!-- .footer-logo -->
            <div class="footer-teaser-txt">
                <span class="txt-small">Cashback Catalog is brought to you by <a target="_blank" href="http://glome.me">Glome</a></span>
                <span>HUMAN-DRIVEN MARKETING PLATFORM</span>
            </div><!-- .footer-teaser-txt -->
            <div class="terms">
                <p><a href="/docs/terms-of-use">Terms of use</a> <a href="/docs/privacy-policy">Privacy policy</a></p>
            </div><!-- .terms -->
        </div><!-- .wrap -->
    </div><!-- .footer-teaser -->
</footer>
