<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ie7 ie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class='no-js' lang='en'><!--<![endif]-->
    <head>
        <title>Glome Cashback Catalog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans&amp;subset=latin-ext,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin-ext,cyrillic' rel='stylesheet' type='text/css'>
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/banner.css" rel="stylesheet" type="text/css">
        <script src="/assets/js/libs/modernizr.custom.js"></script>
        <!--[if lt IE 9]>
            <script src="/assets/js/libs/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>

    <?php if($settings['has-download-bar']): ?>
        <div class="download-bar">
            <div class="wrap">
                <div class="center">
                    <div class="center-content">
                        <span>Download <a href="">Glome Wallet</a> to get your cashback</span>
                        <a href="" class="google-play"></a>
                    </div>
                    <a href="" class="close-download-bar"></a>
                </div><!-- .center-->
            </div><!-- .wrap -->
        </div><!-- .dowload-bar-->
    <?php endif; ?>

        <header class="page_header">
            <div class="wrap">
                <div class="logo-wrap">
                    <a href="/" class="logo">
                        <span class="logo-text">Cashback catalog</span>
                        <span class="logo-text">BROWSE, SHOP AND GET PAID</span>
                    </a>
                </div><!-- .logo-wrap-->
                <div class="header-options">
                    <div class="location-filter">
                        <a class="mob-filter-btn"></a>
                        <div class="row">
                            <div class="lbl col-1" id="col-1">Currency</div>
                            <div class="lbl col-2" id="col-2">Language</div>
                            <div class="lbl col-3" id="col-3">Location</div>
                        </div><!-- .row -->
                        <div class="row">
                            <div class="form-item col-1">
                                <div class="select-box">
                                    <span class="selected"><?=$settings['currency']?></span>
                                    <ul>
                                        <li <?=$settings['currency'] === 'EUR'? 'class="selected"':''?>>EUR</li>
                                        <li <?=$settings['currency'] === 'USD'? 'class="selected"':''?>>USD</li>
                                        <li <?=$settings['currency'] === 'GBP'? 'class="selected"':''?>>GBP</li>
                                    </ul>
                                </div><!-- .select-box -->
                            </div><!-- .form-item -->
                            <div class="form-item col-2">
                                <div class="select-box">
                                    <span class="selected"><?=$settings['language']?></span>
                                    <ul>
                                        <li <?=$settings['language'] === 'English'? 'class="selected"':''?>>English</li>
                                        <li <?=$settings['language'] === 'Suomi'? 'class="selected"':''?>>Suomi</li>
                                        <li <?=$settings['language'] === 'Deutsch'? 'class="selected"':''?>>Deutsch</li>
                                    </ul>
                                </div><!-- .select-box -->
                            </div><!-- .form-item -->
                            <div class="form-item col-3">
                                <div class="select-checkbox">
                                    <div class="selected-items">
                                        <span class="checkbox-content">Choose location</span>
                                    </div>
                                    <ul>
                                        <li class="selected">Finland</li>
                                        <li>Sweden</li>
                                        <li>Denmark</li>
                                        <li>Norway</li>
                                        <li>Latvia</li>
                                    </ul>
                                </div><!-- .select -->
                            </div><!-- .form-item -->
                        </div><!-- .row -->
                    </div><!-- .location-filter-->

                    <?php echo $user; ?>

                </div><!-- .header-options-->
            </div><!-- .wrap -->
        </header>
        <div class="main">
        <?php echo $content; ?>
        </div><!-- .main -->

        <?php echo $footer; ?>

        <?php echo isset($overlays) ? $overlays: '';?>

        <!-- SCRIPTS -->
        <script type="text/javascript" src="/assets/js/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/assets/js/libs/masonry.js"></script>
        <script type="text/javascript" src="/assets/js/libs/jquery.jscrollpane.min.js"></script>
        <script type="text/javascript" src="/assets/js/libs/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="/assets/js/libs/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="/assets/js/libs/jquery.infinitescroll.min.js"></script>
        <script type="text/javascript" src="/assets/js/libs/imagesloaded.js"></script>
        <script type="text/javascript" src="/assets/js/libs/classie.js"></script>
        <script type="text/javascript" src="/assets/js/libs/AnimOnScroll.js"></script>

        <script type="text/javascript" src="/assets/js/script.js"></script>
    </body>
</html>

