
                    <div class="header-profile-wrap">
                        <div class="redeem">
                            <div class="earnings">
                                <span>You have earned</span>
                                <span class="amount"><?=$currency['symbol'].$earnings?></span>
                            </div><!-- .earning -->
                            <!-- <a href="/redirect/redeem" class="redeem-btn">REDEEM</a> -->
                            <div class="redeem-btn disabled">
                                <span>REDEEM</span>
                                <span class="min">(minimum 5 Eur)</span>
                            </div>
                        </div><!-- .redeem -->


                    <?php if (isset($opened)): ?>
                        <div class="header-profile profile-open">
                            <span id ="wish-indicator" class="<?=$wishes>0?'amount':''?>"><?=$wishes>0?$wishes:''?></span>
                            <a href="/profile" class="header-profile-btn"></a>
                        </div><!-- .header-profile -->
                    <?php else: ?>
                        <div class="header-profile">
                            <span id ="wish-indicator" class="<?=$wishes>0?'amount':''?>"><?=$wishes>0?$wishes:''?></span>
                            <a href="/profile" class="header-profile-btn"></a>
                            <div class="profile-menu">
                                <ul>
                                    <li class="wishlist"><a href="/profile/wishlist">My wishlist<span class="amount" id="wish-counter"><?=$wishes>0?$wishes:''?></span></a></li>
                                    <li class="history"><a href="/profile/history">Cashback history</a></li>
                                </ul>
                            </div><!-- .profile-menu -->
                        </div><!-- .header-profile -->
                    <?php endif; ?>
                    </div><!-- .header-profile-wrap -->