
            <div class="product-single">
                <div class="wrap">
                    <div class="back-to-grid">
                        <a href="/catalog/<?=$product['category']?>" class="back-to-grid-btn">Back to products list</a>
                    </div><!-- .back-to grid -->
                    <div class="product-full">
                        <div class="left">
                            <div class="img-holder">
                                <img src="<?=$product['image']?>" alt="optional image description" />
                            <?php if($product['is-new'] || $product['is-popular'] ): ?>
                                <div class="tags">
                                <?php if($product['is-new']): ?>
                                    <span class="new-lbl">NEW</span>
                                <?php endif; ?>
                                <?php if($product['is-popular']): ?>
                                    <span class="popular-lbl">POPULAR</span>
                                <?php endif; ?>
                                </div><!-- .tags -->
                            <?php endif; ?>
                            </div><!-- .img-holder -->
                        </div><!-- .left-->
                        <div class="right">
                            <div class="product-title">
                                <h1><?=$product['title']?></h1>
                            </div><!-- .product-title -->
                            <div class="price-info">
                                <div class="cashback">
                                    <span class="lbl">CASHBACK</span>
                                    <div class="cb-amount <?php echo $product['one-bonus'] === true ? 'has-one' : ''; ?>">
                                        <?php if ($product['bonusMoney'] !== null): ?>
                                        <span><?=$product['currencySymbol']?> <?=$product['bonusMoney']?> </span>
                                        <?php endif; ?>
                                        <?php if ($product['bonusPercent'] !== null): ?>
                                        <span><?=$product['bonusMoney'] !== null ? '&' : ''?> <?=$product['bonusPercent']?> %</span>
                                        <?php endif; ?>
                                    </div><!-- .cb-amount -->
                                </div><!-- .cashback -->
                                <?php if ($product['incentive']): ?>
                                <div class="voucher">
                                    <span class="lbl">VOUCHER</span>
                                    <div class="voucher-amount">
                                        <span>-<?=$product['incentive']['percentage']?>%</span>
                                    </div><!-- .voucher-amount -->
                                </div><!-- .voucher -->
                                <?php endif;?>
                                <div class="buy-now">
                                    <span class="amount"><?=$product['currencySymbol']?><?=$product['price']?></span>
                                    <a href="/redirect/<?=$product['id']?>" class="buy-now-btn">BUY NOW</a>
                                </div><!-- .buy-now-->
                            </div><!-- .price-info -->
                            <div class="discount-wrap">
                                <a href="/profile/wish/<?=$product['id']?>" class="add-to-wishlist <?=$product['is-favorite']? 'active':''?>">Add to Wish list</a>
                                <?php if ($product['incentive']): ?>
                                <div class="discount-code">DISCOUNT-CODE: <span><?=$product['incentive']['code']?></span></div><!-- .discount-code -->
                                <?php endif; ?>

                            </div><!-- .price-info-->
                            <div class="retailer">RETAILER: <span><?=$product['advertiser']?></span></div><!-- .retailer -->
                            <div class="product-desc">
                                <p><span>DESCRIPTION OF THE PRODUCT</span> - <?=$product['description']?> </p>
                            </div><!-- .product-desc-->
                            <div class="social-media">
                                <a href="" class="fb" onclick="shareFB(); return false;"></a>
                                <a href="https://twitter.com/share?url=<?=$tw_url?>&amp;text=<?=$tw_text?>" class="tw" target="_blank"></a>
                                <span>SHARE LINK</span>
                            </div><!-- .share-link -->
                        </div><!-- .right -->
                    </div><!-- .product-full -->
                    <div class="more-products">
                        <span class="title">MORE ITEMS TO CONSIDER</span>
                        <ul class="products masonry-grid" id="grid">
                        <?php foreach ($products as $id => $product): ?>
                           <li class="product">
                                <div class="product-content">
                                    <a href="/profile/wish/<?=$id?>" class="add-to-wishlist-btn <?=$product['is-favorite']? 'active':''?>"></a>
                                    <a href="/product/<?=$id?>">
                                    <?php if($product['is-new'] || $product['is-popular'] ): ?>
                                        <div class="labels">
                                        <?php if($product['is-new']): ?>
                                            <span class="new-lbl">NEW</span>
                                        <?php endif; ?>
                                        <?php if($product['is-popular']): ?>
                                            <span class="popular-lbl">POPULAR</span>
                                        <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                        <div class="rating"></div>
                                        <div class="img-wrap">
                                            <img src="<?=$product['image']?>" alt="image description" />
                                        </div><!-- .img-wrap -->
                                        <div class="product-info">
                                            <span class="title"><?=$product['title']?></span>
                                            <div class="price">
                                                <span>CASHBACK:</span>
                                                <span>
                                                    <?=$product['bonusMoney'] === null ? '' : ($product['currencySymbol'] . $product['bonusMoney'])?>
                                                    <?=$product['one-bonus'] ? '' : '&'?>
                                                    <?=$product['bonusPercent'] === null ? '' : ($product['bonusPercent'] . '%')?>
                                                </span>
                                            </div>
                                            <?php if ($product['incentive']): ?>
                                            <span class="voucher">VOUCHER: -<?=$product['incentive']['percentage']?>%</span>
                                            <?php endif;?>
                                            <span class="buy_btn">VIEW</span>
                                        </div><!-- .product-info -->
                                    </a>
                                </div><!-- .product-content -->
                            </li><!-- .product -->
                        <?php endforeach; ?>
                        </ul><!-- .products .masonry-grid #grid -->
                    </div><!-- .more-products-->
                </div><!-- .wrap -->
            </div><!-- .product-single-->